/**
 * Button active effects
 */

.itisit-btn {
  transform-origin: center center;
  transition: transform var(--transition);
}
.itisit-btn:active {
  transform: translate3d(0, 2px, 0) scale(0.91);
}
